.hero-images {
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 350px;
    width: auto;
}

.index-hero-image {
    background-image: url("/assets/img/pexels-life-of-pix-7974.jpg");
    background-position: 36% 0%;
}

.index-hero-text {
    position: absolute;
    bottom: 20px;
    right: 0px;
    margin: 20px 20px;
    background-color: rgba(255, 255, 255, 0.7);
    border: 2px solid #ffffff;
    border-radius: 15px;
    padding: 10px;
    text-align: center;
    letter-spacing: 1px;
}

footer {
    background-color: #545454;
    height: 90px;
    margin: 0;
}

.cv-pdf i {
    font-size: 35px;
    color: #fafafa;
    text-align: center;
    padding-left: 90px;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
}
.cv-pdf i:hover {
    color: #e84610;
}

.social-links li a i {
    width:45px;
    height: 45px;
    font-size: 30px;
    border-radius: 50%;
    text-align: center;
    color: #fafafa;
    background-color: #8f8f8f;
    line-height: 45px;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    color: #e84610;
}

.progress {
    position: relative;
    height: 50px;
    margin-bottom: 8px;
}

.progress-type {
    position: absolute;
    left: 7px;
    top: 8px;
    color: #fafafa;
}

.skills {
    background-color: #e84610;
    margin: 0;
    
}