@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    padding-top: 45px;
    padding-bottom: 45px;
}

* {
    margin: 0;
    padding: 0;
}

.background-image {
    background-image: url("../img/pexels-pixabay-163143.jpg");
    padding-bottom: 20px;
    background-position: 20% 5%;
    background-size: cover;
    height: auto;
    width: auto;
}

.hero-image {
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 400px;
    width: auto;
    background-image: url("../img/pexels-jéshoots-218863.jpg");
}

/* Header / Nabvar */


.header-font {
    font-family: "poppins", sans-serif;
    font-weight: 700;
    letter-spacing: 2px;
    font-size: xx-large;
    color: #fafafa;
}


.navbar-text {
    font-family: "poppins", sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    color: #fafafa;
}

.hero-images {
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 350px;
    width: auto;
}

.index-hero-image {
    background-image: none;
    background-color:transparent;
    background-position: 36% 0%;
}

.index-hero-text {
    position: absolute;
    bottom: 20px;
    right: 0px;
    margin: 20px 20px;
    background-color: rgba(255, 255, 255, 0.7);
    border: 2px solid #ffffff;
    border-radius: 15px;
    padding: 10px;
    text-align: center;
    letter-spacing: 1px;
    font-family: "Poppins", sans-serif;
}


/* Progress Bar */


.photoshop {
   background-color: #027a08;
}

.illustrator {
    background-color: #a10059;
}

.balsamiq {
    background-color: #a0a300;
}

.progress {
    position: relative;
    height: 50px;
    margin-bottom: 8px;
}

.progress-type {
    position: absolute;
    left: 7px;
    top: 8px;
    color: #fafafa;
}

.skill-container {
    bottom: 20px;
    right: 0px;
    margin: 20px 20px;
    background-color: rgba(255, 255, 255, 0.7);
    border: 2px solid #ffffff;
    border-radius: 15px;
    padding: 10px;
    text-align: center;
    letter-spacing: 1px;
}

.main-container {
    padding-left: 3%;
    background-image: none;
    background-color:transparent;
    font-family: "poppins", sans-serif;
}

/* carousel and Project Cards */

.carousel-caption {
    background-color: #686868;
    opacity: 0.9;
    border-radius: 15px;
    border: 2px solid #ffffff;
}

.card-title {
    text-align: center;
    font-family: "poppins",sans-serif;
    letter-spacing: 2px;
    font-weight: 600;
}

.card-text {
    text-align: center;
    font-family: "poppins",sans-serif;
    letter-spacing: 1px;
}

.card-link {
    font-family: "poppins",sans-serif;
    font-weight: 600;
    padding-left: 10%;
}

.card-link:hover {
    color: #e84610;
}

.card-project {
    padding-top: 25px;
}

.project-cards {
    background-color: #e8e8e8;
}

.carousel-portfolio {
    padding: 20px 5px;
    background-color: #e8e8e8;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 50px;
  width: 50px;
  outline: black;
  background-size: 100%, 100%;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: black;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: black;
}

.carousel-item {
    padding-bottom: 20px;
    padding-top: 2%;
}

/* Contact Container */

.contact-container {
    margin: 0 auto 0 auto;
    padding-top: 4%;
    padding-right: 10%;
    padding-bottom: 2%;
}

.contact-button {
    margin: 0 auto;
    display:flex;
}

.contact-text {
    color:#fafafa;
    font-family: "poppins",sans-serif;
    text-align: center;
    font-weight: 400;
    padding-left: 15%;
    padding-bottom: 2%;
}

.form-labels {
    color: #fafafa;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: x-large;
}

/* Profile Containers */

.profile-content {
    font-family: "poppins",sans-serif;
    font-weight: 500;
    font-size: larger;
    padding-top: 2%;
}

.main-container-profile {
    background-color: #e8e8e8;
    margin-bottom: -15px;
}

.profile-text {
    font-family: "poppins",sans-serif;
    text-align: center;
    padding-top: 2%;
}


/* Footer */


.footer-text {
    font-family: "poppins",sans-serif;
    font-weight: 500;
    letter-spacing: 2px;
    height:auto;
}

.footer-cv {
    padding-top: 2px;
    padding-left:10%;
}

footer {
    color: #fafafa;
}

.social-links a{
    text-decoration: none;
    letter-spacing: 5px;
    margin-left: 5px;
    width:auto;
    height: auto;
    font-size: 32px;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
}

.social-links a:hover {
    color: #e84610;
}

.cv-pdf i {
    font-size: 35px;
    color: #fafafa;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
}
.cv-pdf i:hover {
    color: #e84610;
}


/*   Media Queries  */

